<a href="https://colab.research.google.com/github/chodizzle/portfolio1/blob/main/exercises/more_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
%cd drive/MyDrive/Colab\ Notebooks/developer_survey_2019

/content/drive/MyDrive/Colab Notebooks/developer_survey_2019

In [ ]:
%ls

__MACOSX/        so_survey_2019.pdf         survey_results_schema.csv
README_2019.txt  survey_results_public.csv

In [ ]:
df = pd.read_csv('survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [ ]:
schema_df

                    Column                                       QuestionText
0               Respondent  Randomized respondent ID number (not in order ...
1               MainBranch  Which of the following options best describes ...
2                 Hobbyist                            Do you code as a hobby?
3              OpenSourcer        How often do you contribute to open source?
4               OpenSource  How do you feel about the quality of open sour...
5               Employment  Which of the following best describes your cur...
6                  Country          In which country do you currently reside?
7                  Student  Are you currently enrolled in a formal, degree...
8                  EdLevel  Which of the following best describes the high...
9           UndergradMajor  What was your main or most important field of ...
10                EduOther  Which of the following types of non-degree edu...
11                 OrgSize  Approximately how many people are employed by ...
12                 DevType  Which of the following describe you? Please se...
13               YearsCode  Including any education, how many years have y...
14              Age1stCode  At what age did you write your first line of c...
15            YearsCodePro  How many years have you coded professionally (...
16               CareerSat  Overall, how satisfied are you with your caree...
17                  JobSat  How satisfied are you with your current job? (...
18                MgrIdiot  How confident are you that your manager knows ...
19                MgrMoney  Do you believe that you need to be a manager t...
20                 MgrWant  Do you want to become a manager yourself in th...
21                 JobSeek  Which of the following best describes your cur...
22            LastHireDate  When was the last time that you took a job wit...
23                 LastInt  In your most recent successful job interview (...
24                FizzBuzz  Have you ever been asked to solve FizzBuzz in ...
25              JobFactors  Imagine that you are deciding between two job ...
26            ResumeUpdate  Think back to the last time you updated your r...
27          CurrencySymbol  Which currency do you use day-to-day? If your ...
28            CurrencyDesc  Which currency do you use day-to-day? If your ...
29               CompTotal  What is your current total compensation (salar...
30                CompFreq   Is that compensation weekly, monthly, or yearly?
31           ConvertedComp  Salary converted to annual USD salaries using ...
32             WorkWeekHrs   On average, how many hours per week do you work?
33                WorkPlan            How structured or planned is your work?
34           WorkChallenge  Of these options, what are your greatest chall...
35              WorkRemote                    How often do you work remotely?
36                 WorkLoc                    Where would you prefer to work?
37                  ImpSyn  For the specific work you do, and the years of...
38                 CodeRev           Do you review code as part of your work?
39              CodeRevHrs  On average, how many hours per week do you spe...
40               UnitTests  Does your company regularly employ unit tests ...
41             PurchaseHow  How does your company make decisions about pur...
42            PurchaseWhat  What level of influence do you, personally, ha...
43      LanguageWorkedWith  Which of the following programming, scripting,...
44  LanguageDesireNextYear  Which of the following programming, scripting,...
45      DatabaseWorkedWith  Which of the following database environments h...
46  DatabaseDesireNextYear  Which of the following database environments h...
47      PlatformWorkedWith  Which of the following platforms have you done...
48  PlatformDesireNextYear  Which of the following platforms have you done...
49      WebFrameWorkedWith  Which of the following web frameworks have you...
50  WebFrameDesireNextYear  Which of the following web frameworks have you...
51      MiscTechWorkedWith  Which of the following other frameworks, libra...
52  MiscTechDesireNextYear  Which of the following other frameworks, libra...
53              DevEnviron  Which development environment(s) do you use re...
54                   OpSys  What is the primary operating system in which ...
55              Containers  How do you use containers (Docker, Open Contai...
56           BlockchainOrg  How is your organization thinking about or imp...
57            BlockchainIs  Blockchain / cryptocurrency technology is prim...
58              BetterLife  Do you think people born today will have a bet...
59                ITperson   Are you the "IT support person" for your family?
60                   OffOn        Have you tried turning it off and on again?
61             SocialMedia        What social media site do you use the most?
62            Extraversion    Do you prefer online chat or IRL conversations?
63              ScreenName                               What do you call it?
64              SOVisit1st  To the best of your memory, when did you first...
65             SOVisitFreq  How frequently would you say you visit Stack O...
66               SOVisitTo  I visit Stack Overflow to... (check all that a...
67            SOFindAnswer  On average, how many times a week do you find ...
68             SOTimeSaved  Think back to the last time you solved a codin...
69           SOHowMuchTime  About how much time did you save? If you're no...
70               SOAccount              Do you have a Stack Overflow account?
71              SOPartFreq  How frequently would you say you participate i...
72                  SOJobs  Have you ever used or visited Stack Overflow J...
73                EntTeams  Have you ever used Stack Overflow for Enterpri...
74                  SOComm  Do you consider yourself a member of the Stack...
75           WelcomeChange  Compared to last year, how welcome do you feel...
76            SONewContent  Would you like to see any of the following on ...
77                     Age  What is your age (in years)? If you prefer not...
78                  Gender  Which of the following do you currently identi...
79                   Trans                    Do you identify as transgender?
80               Sexuality  Which of the following do you currently identi...
81               Ethnicity  Which of the following do you identify as? Ple...
82              Dependents  Do you have any dependents (e.g., children, el...
83            SurveyLength  How do you feel about the length of the survey...
84              SurveyEase  How easy or difficult was this survey to compl...

In [ ]:
# whats a DF in terms of Python datastructures?
person = {
    "first" : "Corey",
    "last" : "Schafer",
    "email": "CoreyMScafer@gmail.com"
}

people = {
    "first" : ["Corey"],
    "last" : ["Schafer"],
    "email": ["CoreyMScafer@gmail.com"]
}

people = {
    "first" : ["Corey", 'Jane', 'John'],
    "last" : ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMScafer@gmail.com", 'janedoe@gmail.com', 'johndoe@gmail.com']
}

In [ ]:
people['email']

['CoreyMScafer@gmail.com', 'janedoe@gmail.com', 'johndoe@gmail.com']

In [ ]:
people
# rooks berry ugry unlike the df version berow

{'email': ['CoreyMScafer@gmail.com', 'janedoe@gmail.com', 'johndoe@gmail.com'],
 'first': ['Corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Doe']}

In [ ]:
people_df = pd.DataFrame(people)

In [ ]:
people_df

   first     last                   email
0  Corey  Schafer  CoreyMScafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com

In [ ]:
people_df['email'], people_df.email
# these are the same!
# cs likes the brackets because... if column_name == df.attr, then we can't access data using . notation
# for example, column name is 'count'. then people_df.count runs the method instead of retrieving column data

(0    CoreyMScafer@gmail.com
 1         janedoe@gmail.com
 2         johndoe@gmail.com
 Name: email, dtype: object, 0    CoreyMScafer@gmail.com
 1         janedoe@gmail.com
 2         johndoe@gmail.com
 Name: email, dtype: object)

In [ ]:
type(people_df['email'])

pandas.core.series.Series

In [ ]:
people_df[['last', 'email']]
# feeding list into brackets to get multiple columns. MULTI-INDEXING

      last                   email
0  Schafer  CoreyMScafer@gmail.com
1      Doe       janedoe@gmail.com
2      Doe       johndoe@gmail.com

In [ ]:
# to get rows, use loc and iloc
people_df.iloc[0] #this returns a series
# index of the result is the column name

first                     Corey
last                    Schafer
email    CoreyMScafer@gmail.com
Name: 0, dtype: object

In [ ]:
people_df.iloc[[0, 1]]
# returns a df with rows 0 and 1

   first     last                   email
0  Corey  Schafer  CoreyMScafer@gmail.com
1   Jane      Doe       janedoe@gmail.com

In [ ]:
people_df.iloc[[0,1], 2], type(people_df.iloc[[0,1], 2])

(0    CoreyMScafer@gmail.com
 1         janedoe@gmail.com
 Name: email, dtype: object, pandas.core.series.Series)

In [ ]:
people_df.iloc[[0,1], [2]], type(people_df.iloc[[0,1], [2]])

(                    email
 0  CoreyMScafer@gmail.com
 1       janedoe@gmail.com, pandas.core.frame.DataFrame)

In [ ]:
people_df.loc[0]
# 0 works as reference as the index name is 0 for row 0...

first                     Corey
last                    Schafer
email    CoreyMScafer@gmail.com
Name: 0, dtype: object

In [ ]:
people_df.loc[[0, 1]]

   first     last                   email
0  Corey  Schafer  CoreyMScafer@gmail.com
1   Jane      Doe       janedoe@gmail.com

In [ ]:
people_df.loc[[0,1], 'email']
# we have to pass in column NAME not position because LOC

0    CoreyMScafer@gmail.com
1         janedoe@gmail.com
Name: email, dtype: object

In [ ]:
people_df.loc[[0,1], ['email', 'last']]

                    email     last
0  CoreyMScafer@gmail.com  Schafer
1       janedoe@gmail.com      Doe

back to main df from stackoverflow survey results

In [ ]:
df.shape

(88883, 85)

In [ ]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [ ]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [ ]:
df['Hobbyist'].value_counts() / df.shape[0] * 100

Yes    80.169436
No     19.830564
Name: Hobbyist, dtype: float64

In [ ]:
df.loc[[0,1,2], 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [ ]:
df.loc[0:2, 'Hobbyist':'Employment']
# loc is inclusive for slices. Slicing is INCLUSIVE on loc because we use names in columns... and it'd be a pain to check 
# column name every single time we needed to see up to what column we need to specify name for

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time

In [ ]:
people_df['email']

0    CoreyMScafer@gmail.com
1         janedoe@gmail.com
2         johndoe@gmail.com
Name: email, dtype: object

In [ ]:
people_df.set_index('email', inplace=True)
# remember, pd is immutable first. Use dat inplace

In [ ]:
people_df.index
# so... this is neat cause we can use .loc to find rows

Index(['CoreyMScafer@gmail.com', 'janedoe@gmail.com', 'johndoe@gmail.com'], dtype='object', name='email')

In [ ]:
people_df.loc['CoreyMScafer@gmail.com', 'last']
# people_df.loc[0] no longer works as the index is named with email instead of integers

'Schafer'

In [ ]:
people_df.reset_index(inplace=True)

In [ ]:
df = pd.read_csv('survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')

In [ ]:
print(schema_df.loc['MgrIdiot'].values)
print(schema_df.loc['MgrIdiot', 'QuestionText'])
# 2 ways to get full text

['How confident are you that your manager knows what they’re doing?']
How confident are you that your manager knows what they’re doing?

In [ ]:
schema_df.sort_index(inplace=True, ascending=False)
# schema_df is now alphabetically sorted on index

In [ ]:
# mask = (people_df['last'] == 'Doe')
# making masks again. () for readability

In [ ]:
people_df[mask]
people_df[people_df['last'] == 'Doe'] #also works

NameError: ignored

In [ ]:
people_df.loc[mask, 'email']
# also works AND has the added benefit of being able to call column by name cause we're in .loc!!!

In [ ]:
mask = schema_df['QuestionText'].str.contains('salary', case=False)
schema_df.loc[mask, 'QuestionText']

In [ ]:
high_salary = df['ConvertedComp'] > 70000

In [ ]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
in_country = df['Country'].isin(countries)

In [ ]:
langfilt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [ ]:
df.loc[langfilt, 'LanguageWorkedWith']

In [ ]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

**SOME 1337 H4XX**

In [ ]:
# people_df = people_df.loc[:, ~people_df.columns.duplicated()]
# people_df = people_df.reindex(columns=sorted(people_df.columns))
# people_df = people_df.reindex(columns=(['first'] + [x for x in people_df.columns if x != 'first']))

In [ ]:
people_df.columns = ['first_name', 'last_name', 'email']

In [ ]:
people_df.columns = [x.lower() for x in people_df.columns]

In [ ]:
people_df.columns = people_df.columns.str.replace(' ', '_')

In [ ]:
people_df

In [ ]:
people_df.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)

In [ ]:
people_df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

In [ ]:
people_df.loc[2, 'last'] = 'Smith'

In [ ]:
people_df.at[2, 'last']
# at only does single values at row/column intersections, but is MUCH MUCH faster than using loc/iloc

In [ ]:
filt = (people_df['email'] == 'JohnDoe@gmail.com')
filt

In [ ]:
people_df[filt]['last'] = 'Doe'
# !!! the copy error. Moral of the story: use .loc or .at to set values. Derp

In [ ]:
people_df['email'] = people_df['email'].str.lower()

In [ ]:
# we gon do apply, map, applymap, and replace!!!

In [ ]:
people_df['email'].apply(str.upper)

In [ ]:
def update_email(email):
  return email.upper()

In [ ]:
people_df['email'] = people_df['email'].apply(update_email)

In [ ]:
people_df['email'] = people_df['email'].apply(lambda x: x.lower())

In [ ]:
people_df

In [ ]:
people_df.apply(len, axis=0)
# when we apply fns to dfs, it uses the fn on the rows or columns depending on axis

In [ ]:
people_df.apply(lambda x: x.min())
# use SERIES fns to apply fn to all rows/columns

In [ ]:
# but how do we apply a fn to every element in the DF? >>> apply.map. Only works on DF, not series

In [ ]:
people_df.applymap(len)
# oh ghee buttersnaps!

In [ ]:
# map is used on SERIES to substitute values within the SERIES
people_df['first'].map({'Corey':'Chris', 'Jane':'Mary'})
# oh snaps. Unmapped values are NaN by default :( :( :(

In [ ]:
# if we want to sub, but keep unmapped stuff as is... use replace!
people_df['first'].replace({'Corey':'Chris', 'Jane':'Mary'})
# tada!!!

In [ ]:
df.rename(columns=({'ConvertedComp': 'SalaryUSD'}), inplace=True)

In [ ]:
df.SalaryUSD

In [ ]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False})

In [ ]:
df

In [ ]:
people_df['first'] + ' ' + people_df['last']

In [ ]:
people_df['full_name'] = people_df['first'] + ' ' + people_df['last']
# . notation does not work for making new columns

In [ ]:
people_df

In [ ]:
people_df.drop(columns=['first', 'last'], inplace=True)
# drop multi columns using list!

In [ ]:
people_df['full_name'].str.split(' ', expand=True)
# dat expand tho!!!!

In [ ]:
people_df[['first', 'last']] = people_df['full_name'].str.split(' ', expand=True)

In [ ]:
people_df

In [ ]:
people_df = people_df.append({'first': 'Tony'}, ignore_index=True)
# derp error cause no index

In [ ]:
people_df.drop(index=3)

In [ ]:
people_df.drop(people_df.index[-1])

In [ ]:
people_df = people_df[0:-1]

In [ ]:
people = {
    "first" : ["Tony", 'Steve'],
    "last" : ['Stark', 'Rogers'],
    "email": ['IronMan@avenge.com', 'Cap@avenge.com']
}
df2 = pd.DataFrame(people)

In [ ]:
df2

In [ ]:
people_df = people_df.append(df2, ignore_index=True)

In [ ]:
people_df.drop(index=4)

In [ ]:
people_df.drop(index=people_df[people_df['last'] == 'Doe'].index)
# Corey don't like having the conditional in the drop... it's hard to read... I agree

In [ ]:
filt = people_df['last'] == 'Doe'
people_df.drop(index=people_df[filt].index)

In [ ]:
people_df.sort_values(by='last', ascending=False)

In [ ]:
people_df.sort_values(by=['last', 'first'], ascending=False)

In [ ]:
people_df = people_df.append({'first': 'Adam', 'last': 'Doe', 'email': 'A@gmail.com'}, ignore_index=True)

In [ ]:
people_df.sort_values(by=['last', 'first'], ascending=[False, True])

In [ ]:
people_df.sort_index()

In [ ]:
people_df['last'].sort_values()
# sort values werks on SERIES as well as DFs

In [ ]:
df.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False], inplace=True)

In [ ]:
df[['Country', 'SalaryUSD']].head(50)

In [ ]:
df['SalaryUSD'].nlargest(10)

In [ ]:
df.nlargest(10, 'SalaryUSD')

In [ ]:
df.nsmallest(10, 'SalaryUSD')

In [ ]:
df['SalaryUSD'].mean(), df['SalaryUSD'].median()

In [ ]:
df.describe()
# 50% is just the median

In [ ]:
df['Hobbyist'].value_counts()
# i just realized what value counts means.... OMFGBBQWTFPWN

In [ ]:
df['SocialMedia'].value_counts(normalize=True)

In [ ]:
schema_df.set_index('Column', inplace=True)

In [ ]:
schema_df.loc['SocialMedia']

In [ ]:
df['Country'].value_counts()

In [ ]:
country_grp = df.groupby(['Country'])

In [ ]:
country_grp.get_group('India')

In [ ]:
country_grp['SocialMedia'].value_counts(normalize=True).unstack()

In [ ]:
country_grp['SalaryUSD'].median().loc['India']

In [ ]:
country_grp['SalaryUSD'].agg(['median', 'mean'])
# ohhh legit

In [ ]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').value_counts()

In [ ]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').value_counts(normalize=True))

In [ ]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()) / country_grp['Country'].count()

In [ ]:
country_resp = df['Country'].value_counts()
country_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
(country_python/country_resp).sort_values(ascending=False)

In [ ]:
python_df = pd.concat([country_resp, country_python], axis=1)
python_df.rename(columns={'Country':'Respondents', 'LanguageWorkedWith':'NumKnowsPython'}, inplace=True)
python_df

In [ ]:
python_df['PctKnowsPython'] = python_df['NumKnowsPython']/python_df['Respondents'] * 100

In [ ]:
python_df.sort_values('PctKnowsPython', ascending=False)

In [ ]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'],
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA' ],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [ ]:
df = pd.DataFrame(people)

df.replace(['NA', 'Missing', None] , np.nan, inplace=True)

In [ ]:
df

   first     last                    email  age
0  Corey  Schafer  CoreyMSchafer@gmail.com   33
1   Jane      Doe        JaneDoe@email.com   55
2   John      Doe        JohnDoe@email.com   63
3  Chris  Schafer                      NaN   36
4    NaN      NaN                      NaN  NaN
5    NaN      NaN      Anonymous@email.com  NaN
6    NaN      NaN                      NaN  NaN

In [ ]:
df.dropna() #default args is axis=0 and how='any'

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33.0
1   Jane      Doe        JaneDoe@email.com  55.0
2   John      Doe        JohnDoe@email.com  63.0

In [ ]:
df.dropna(axis=0, how='any',  thresh=2)

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
6     NA  Missing                       NA  Missing

In [ ]:
df.dropna(axis=0, how='all', subset=['email', 'last'])

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33.0
1   Jane      Doe        JaneDoe@email.com  55.0
2   John      Doe        JohnDoe@email.com  63.0
3  Chris  Schafer                      NaN  36.0
5    NaN      NaN      Anonymous@email.com   NaN

In [ ]:
# whatdo custom missing values like 'NA' and 'Missing'
# df.replace(derp)

In [ ]:
df.isna()
# checking what is null or not

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [ ]:
df.fillna(0) 
# can pass in string or numbers

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33.0
1   Jane      Doe        JaneDoe@email.com  55.0
2   John      Doe        JohnDoe@email.com  63.0
3  Chris  Schafer                        0  36.0
4      0        0                        0   0.0
5      0        0      Anonymous@email.com   0.0
6      0        0                        0   0.0

In [ ]:
# casting datatypes!!! I'm a weezard... derp
df.dtypes
# note that age is a string(object)

first    object
last     object
email    object
age      object
dtype: object

In [ ]:
df['age'].mean()

TypeError: ignored

In [ ]:
type(np.NaN)
# !!! np.nan is a float under the hood

float

In [ ]:
# df['age'] = df['age'].astype(int) BAD
# does not work cause np.nan is a float derp
# we can convert np.nan to 0 (most a bad idea for stats) or convert to float instead of int
df['age'] = df['age'].astype(float)

In [ ]:
df.dtypes
# nice

first     object
last      object
email     object
age      float64
dtype: object

In [ ]:
df['age'].mean()

46.75

back to stackoverflow survey

In [ ]:
# na_vals = ['NA', 'Missing']
# df = pd.read_csv('survey_results_public.csv', index_col='Respondent', na_values=na_vals)
# last argument written above to deal with weird ass na vals

In [ ]:
df.columns

Index(['first', 'last', 'email', 'age'], dtype='object')

In [ ]:
df['YearsCode'].head(10)

Respondent
1       4
2     NaN
3       3
4       3
5      16
6      13
7       6
8       8
9      12
10     12
Name: YearsCode, dtype: object

In [ ]:
df['YearsCode'].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 0, '30', '9', '26', '40', '19', '15', '20', '28',
       '25', '1', '22', '11', '33', '50', '41', '18', '34', '24', '23',
       '42', '27', '21', '36', '32', '39', '38', '31', '37', 51, '29',
       '44', '45', '48', '46', '43', '47', '49'], dtype=object)

In [ ]:
df['YearsCode'].replace(['Less than 1 year', 'More than 50 years'], [0, 51], inplace=True)

In [ ]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [ ]:
df['YearsCode'].mean()

11.662114216834588